<div class="w-full flex justify-center h-[4rem] text-white  bg-gray-400 shadow-2xl">
  <div class="w-3/4 h-full flex justify-between items-center navbar-container">
    <div class="logo">
      <h1 class="text-4xl pointer">Movie App</h1>
    </div>
    <div class="navigation-panel">
      <ul class="nav-list">
        <li class="text-xl cursor-pointer hover:text-gray-600">Home</li>
      </ul>
    </div>
    <div class="flex justify-center search-container w-[20rem] bg-white rounded-full">
      <div class=" searbar-container text-gray-400 flex justify-start ml-2 items-center w-full">
        <i class=" h-full flex items-center mr-2 fas fa-search"></i>
        <input type="text" name="search-input" class="w-4/5 h-[2em] text-gray-600 focus:outline-none">
      </div>
    </div>
  </div>
</div>
